.vscode/
__pycache__
.ipynb_checkpoints
.DS_Store
tensorflow-developer-coursera/C1/W4/ungraded_labs/horse-or-human.zip
tensorflow-developer-coursera/C1/W4/ungraded_labs/horse-or-human
tensorflow-developer-coursera/C1/W4/ungraded_labs/validation-horse-or-human
tensorflow-developer-coursera/C1/W4/ungraded_labs/validation-horse-or-human.zip
.env