.vscode/
__pycache__
.ipynb_checkpoints
.DS_Store
tensorflow-developer-coursera/C1/W4/ungraded_labs/horse-or-human.zip
tensorflow-developer-coursera/C1/W4/ungraded_labs/horse-or-human
tensorflow-developer-coursera/C1/W4/ungraded_labs/validation-horse-or-human
tensorflow-developer-coursera/C1/W4/ungraded_labs/validation-horse-or-human.zip
.env
tensorflow-developer-coursera/C3/W3/assignment/data/glove.6B.100d.txt
tensorflow-developer-coursera/C3/W3/assignment/data/training_cleaned.csv
/venv*
.vs
test.ipynb
TFExamTest/word_embeddings/aclImdb
TFExamTest/word_embeddings/aclImdb_v1.tar.gz
.idea/misc.xml
.idea/modules.xml
.idea/tensorflow-certification.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
